<div class="container">
  <p-menubar [model]="items"></p-menubar>

  <!-- <div class="image-container" [ngClass]="{'hidden': isModalOpen}">
    <img src="assets/Images/lamborghini.jpg" alt="Descripción de la imagen">
  </div> -->

  <!-- <div class="image-container" [hidden]="showImage">
    <img src="assets/Images/lamborghini.jpg" alt="Descripción de la imagen">
  </div> -->

  <p-dialog header="Título del Modal" [(visible)]="isModalOpen">
  </p-dialog>

  <router-outlet></router-outlet>
</div>
